# Resend API Key
RESEND_API_KEY=

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Supabase Keys (Server Side)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# SMTP Keys for Password Recovery (Required)
SMTP_HOSTNAME=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Public Keys (Client Side)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
