# Supabase Keys (Server Side)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Public Keys (Client Side)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ALIEXPRESS_APP_KEY=533964
VITE_ALIEXPRESS_APP_SECRET=Fmek9qAohE8K2tgkyGcAeC2tQ8dMZiq7
VITE_ALIEXPRESS_ACCESS_TOKEN=

# Gemini API Key
GEMINI_API_KEY=
