# Dropea Keys
DROPEA_API_KEY=
DROPEA_USER_ID=38827
DROPEA_SHOP_ID=16172
DROPEA_API_URL=https://api.dropea.com/graphql/dropshippers

# Supabase Keys (Server Side)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Public Keys (Client Side)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
